@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body{
	background-image: url(https://images8.alphacoders.com/647/647675.jpg);
	background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
		font-weight: 300;
}
/*-------------------------------
Nav-bar
-------------------------------*/
.main-nav{
	background-color: none;
}
.main-home{
	color: #fff;
	float: left; 
	display: block; 
	padding: 25px; 
	text-decoration:none;
	font-size: 20px;
	text-transform: uppercase;
}
.main-menu{
	float: right;
	margin: 0;
	padding: 0;
}
.menu-item{
	color: #fff;
	display:inline-block; 
	padding: 15px; 
	text-decoration:none;
	font-size: 20px;

}
.menu-item a{
	display: inline-block;
	text-decoration:none;
	color: #fff;
	text-transform: uppercase;
	text-align: center
}
/*-------------------------------
Header
-------------------------------*/
header{
	font-size: 25px;
    font-weight: 100;
		font-style: normal;
    text-transform: uppercase;
		text-decoration: none;
		text-align: center;
    letter-spacing: 2px;
    color: #fff;
}
/*-------------------------------
Cards
-------------------------------*/
.card-deck{
	display: table;
	width: 98%;
	margin: 0 auto;
	margin-bottom: 200px;
}
.card{
	width: 171px;
	margin:2% 5%;
	height: 361px;
	background: #fff;
	float: left;
}
.card-img-top{
	width: 231px;
	height: 361px;
	border:2px solid white;
}
.card-body p{
	text-decoration: none;
}

/* About site*/
.about{
	background-image: url(https://raw.githubusercontent.com/svevapepe/progetto_ltw/master/planets-wallpapers-30837-3234531.jpg);
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size:cover;
	background-position: center center;
	position: relative;
}


@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* start commented backslash hack \*/
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/* close commented backslash hack */

*,
*:before,
*:after{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
   		box-sizing:border-box; 
}